<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="tf2stats.Properties.Settings.tf2statsConnectionString"
            connectionString="server=localhost;user id=root;Password=password;persist security info=True;database=tf2stats"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>